In [31]:
#Q1
x = int(input("first lengths of triangle"))
y = int(input("secound lengths of triangle"))
z = int(input("thired lengths of triangle"))
if x==y==z:
    print("equilateral triangle")
elif x==y or x==z or y==z:
    print("isosceles triangle")
else:
    print("scalene triangle")

first lengths of triangle 6
secound lengths of triangle 8
thired lengths of triangle 12

scalene triangle

In [44]:
#Q2
def pizza_cost(num_pizzas, cost_per_pizza=12, delivery_charge=5):
    total_cost = (num_pizzas * cost_per_pizza) + delivery_charge
    return total_cost

In [36]:
pizza_cost(3)

41

In [1]:
#Q3
import re
def is_valid_password(password):
    if len(password) < 6 or len(password) > 16:
        return False
    if not re.search(r"[a-z]", password):
        return False
    if not re.search(r"[A-Z]", password):
        return False
    if not re.search(r"[0-9]", password):
        return False
    if not re.search(r"[$#@]", password):
        return False
    return True

In [76]:
is_valid_password("12452184MO#")

False

In [5]:
#Q4
def final_grade(score,extra_credit=0,maximum_possible_score=100):
    final_grade= score + extra_credit
    return final_grade

In [9]:
final_grade(90,5)

95

In [120]:
#Q5
def generate_fibonacci(n):
    fib_series = []
    a, b = 0, 1
    for i in range(n):
        fib_series.append(a)
        a, b = b, a + b  # Update values for the next iteration
    return fib_series

In [122]:
generate_fibonacci(5)

[0, 1, 1, 2, 3]

In [127]:
#Q6
def calculate(num1, num2, operator):
   
    if operator == '+':
        return num1 + num2
    elif operator == '-':
        return num1 - num2
    elif operator == '*':
        return num1 * num2
    elif operator == '/':
        if num2 != 0:
            return num1 / num2
        else:
            return "Error: Division by zero is not allowed."
    else:
        return "Error: Invalid operator. Please use +, -, *, or /."
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
operator = input("Enter an operator (+, -, *, /): ")
result = calculate(num1, num2, operator)
print(f"Result: {result}")

Enter the first number:  99
Enter the second number:  99
Enter an operator (+, -, *, /):  *

Result: 9801.0

In [64]:
#Q7
def is_divisible_by_11(number):
    return number % 11 == 0

In [68]:
is_divisible_by_11(99)

True

In [74]:
#Q8
def fuel_cost(distance, mpg=50, fuel_price=1):
    miles_per_litre = mpg / 3.78541
    litres_needed = distance / miles_per_litre
    total_cost = litres_needed * fuel_price
    
    return total_cost

In [78]:
fuel_cost(99)

7.4951118

In [107]:
#Q9
def get_next_day(year, month, day):
    if month == 12 and day == 31:
        return f"{year + 1}-1-1"
    
    
    days_in_month = [31, 29 if (year % 4 == 0 and (year % 100 != 0 or year % 400 == 0)) else 28,
                     31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

    if day < days_in_month[month - 1]: 
        return f"{year}-{month}-{day + 1}"
    else:  
        if month == 12:  
            return f"{year + 1}-1-1"
        else:
            return f"{year}-{month + 1}-1"
year = int(input("Input a year: "))
month = int(input("Input a month [1-12]: "))
day = int(input("Input a day [1-31]: "))
next_date = get_next_day(year, month, day)
print(f"The next date is: {next_date}")

Input a year:  2015
Input a month [1-12]:  8
Input a day [1-31]:  5

The next date is: 2015-8-6

In [83]:
#Q10
def find_median(a, b, c):
    
    values = [a, b, c]
    values.sort()
    return values[1]

In [87]:
find_median(97, 99, 98)

98